/* Container to center the projects */
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

/* Style for each project card */
.project {
    display: flex; /* Make the project card a flex container */
    flex-direction: row; /* Align children in a row */
    background-color: rgb(30, 35, 39);
    color: white;
    width: 75%;
    height: auto;
    padding: 40px;
    margin: 20px 0; /* Increase vertical spacing */
    border-radius: 10px;
    box-sizing: border-box;
    align-items: left;
}

/* Style for project description */
.project-description {
    flex: 1; /* Allow the description to take up available space */
    text-align: left;
    align-items: left;
}

.project-description h4 {
    color: rgb(194, 194, 194);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    font-size: 1.2em;
}

.project-description h2 {
    text-align: left;
    margin-bottom: 1%;
}

/* Style for project image */
.project-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    height: auto; /* Set a fixed height */
    margin-left: 20px;
}

.project-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.project-button {
    position: relative;
    background-color: transparent;
    color: white;
    border: 2px solid rgb(55, 196, 177);
    width: 20%;
    padding: 2%;
    font-size: 1.3em;
    margin-right: 3%;
    border-radius: 5px;
}

.project-button:hover {
    background-color: rgba(55, 196, 177, 0.3);
    box-shadow: 0 0 15px 1px rgba(55, 196, 177, 0.752);
}

.column {
    margin-left: 0;
    padding-left: 0;
}

.project-buttons {
    display: flex; /* Make the project-buttons a flex container */
    justify-content: center; /* Center buttons horizontally */
    width: 100%; /* Ensure it takes full width */
}

@media (max-width: 768px) {
    .project {
        flex-direction: column; /* Change to column layout */
        align-items: center; /* Center align items */
        justify-content: center; /* Center buttons horizontally */
        margin-bottom: 30px; /* Increase vertical spacing */
    }

    .project-image {
        margin-left: 0; /* Remove left margin */
        margin-bottom: 20px; /* Add bottom margin for spacing */
    }

    .project-button {
        width: 50%; /* Adjust button width */
        font-size: 1em; /* Adjust font size */
    }
}

@media (max-width: 480px) {
    .project-description h2 {
        text-align: left;
        margin-bottom: 5%;
    }

    .project {
        width: 90%; /* Adjust project card width */
        margin-bottom: 40px; /* Further increase vertical spacing */
        align-items: center; /* Center align items */
        justify-content: center; /* Center buttons horizontally */
    }

    .project-buttons {
        align-items: center;
        justify-content: center;
    }

    .project-button {
        width: 70%; /* Further adjust button width */
        margin-bottom: 5%;
        font-size: 0.9em; /* Further adjust font size */
    }

    .row {
        align-items: center;
    }
}
