/* Container to center the projects */
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

/* Style for each project card */
.project {
    display: flex; /* Make the project card a flex container */
    flex-direction: row; /* Align children in a row */
    background-color: rgb(30, 35, 39);
    color: white;
    width: 75%;
    padding: 40px;
    margin: 10px 0;
    border-radius: 10px;
    box-sizing: border-box;
    align-items: left;
}

/* Style for project description */
.project-description {
    flex: 1; /* Allow the description to take up available space */
    text-align: left;
    align-items: left;
}

.project-description h4 {
    color: rgb(194, 194, 194);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    font-size: 1.2em;
}

.project-description h2 {
    text-align: left;
    margin-bottom: 1%;
}

/* Style for project image */
.project-image {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    height: auto; /* Set a fixed height */
    border-radius: 10px;
    margin-left: 20px;
}

.project-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left; /* Show only the top-left corner of the image */
}

.project-button {
    position: relative;
    background-color: transparent;
    color: white;
    border: 2px solid rgb(55, 196, 177);
    width: 20%;
    padding: 2%;
    font-size: 1.3em;
    margin-right: 3%;
    border-radius: 5px;
}

.project-button:hover {
    background-color: rgba(55, 196, 177, 0.3);
    box-shadow: 0 0 15px 1px rgba(55, 196, 177, 0.752);
}

.column {
    margin-left: 0;
    padding-left: 0;
}